In [1]:
import pandas as pd
import numpy as np

In [2]:
#Loading the whole dataframe that we crawled in the first section of the project
df = pd.read_csv('Complete_df.csv')

        Unnamed: 0  Current_Stock_Price
count  5399.000000          3186.000000
mean   2699.000000            41.767087
std    1558.701383           131.909256
min       0.000000             0.150000
25%    1349.500000             4.920000
50%    2699.000000            12.230000
75%    4048.500000            35.115000
max    5398.000000          3404.320000

In [3]:
#Renaming the col names of the percents to remember
df = df.rename(columns={'Held_By_Institusion':'Held_By_Institusion(%)', 'Perf_Week':'Perf_Week(%)','Perf_Month':'Perf_Month(%)', 'Perf_Quarter':'Perf_Quarter(%)','Perf_Half_Year':'Perf_Half_Year(%)','Perf_Year':'Perf_Year(%)'})

In [4]:
#converting everything from object to str in order to be able to split the k M and %
df['Vol_Avg_10_Day'] = df['Vol_Avg_10_Day'].astype(str)
df['Vol_Avg_3_Months'] = df['Vol_Avg_3_Months'].astype(str)

In [5]:
#We want to replace every "" sign and % sign from the data frame to revert to float after!
df.replace({'%':'' , ',':''} , regex=True, inplace=True)

In [6]:
#We want to take care on k(Thousand) and M(millions) (Vol_Avg_10_days)
#We have that in column 6
for index in range(5399):
    if("k" in df.iloc[index,6]):
        df.iloc[index,6] = float(df.iloc[index,6].split('k')[0])*1000
    elif("M" in df.iloc[index,6]):
        df.iloc[index,6] = float(df.iloc[index,6].split('M')[0])*1000000

In [7]:
#We want to take care on k(Thousand) and M(millions) (Vol_Avg_3_month)
#We have that in column 7
for index in range(5399):
    if("k" in df.iloc[index,7]):
        df.iloc[index,7] = float(df.iloc[index,7].split('k')[0])*1000 #From object to Float
    elif("M" in df.iloc[index,7]):
        df.iloc[index,7] = float(df.iloc[index,7].split('M')[0])*1000000 #From object to Float

In [8]:
#Every sign of '-' we want to put nan instead because it is the same (the item is missed)!
#After we put nan instead of '-' we can handle with all nan at the same time and not with '-' and the wit nan!
df[df == '-'] = np.nan

In [9]:
#All the cols with a % sign
cols = ['Held_By_Institusion(%)' ,'Perf_Week(%)', 'Perf_Month(%)', 'Perf_Quarter(%)','Perf_Half_Year(%)', 'Perf_Year(%)']

In [10]:
#Reverting everything to float for the machine learning section only numbers and not strings or objects!
df['Avg_50'] = df['Avg_50'].astype(float)
df['Avg_200'] = df['Avg_200'].astype(float)
df['Held_By_Institusion(%)'] = df['Held_By_Institusion(%)'].astype(float)
df['Perf_Week(%)'] = df['Perf_Week(%)'].astype(float)
df['Perf_Month(%)'] = df['Perf_Month(%)'].astype(float)
df['Perf_Quarter(%)'] = df['Perf_Quarter(%)'].astype(float)
df['Perf_Half_Year(%)'] = df['Perf_Half_Year(%)'].astype(float)
df['Perf_Year(%)'] = df['Perf_Year(%)'].astype(float)
df['Week_52_High'] = df['Week_52_High'].astype(float)
df['Week_52_Low'] = df['Week_52_Low'].astype(float)
df['Vol_Avg_10_Day'] = df['Vol_Avg_10_Day'].astype(float)
df['Vol_Avg_3_Months'] = df['Vol_Avg_3_Months'].astype(float)
df['Analyst_Mean_Target_Price'] = df['Analyst_Mean_Target_Price'].astype(float)
df['Current_Stock_Price'] = df['Current_Stock_Price'].astype(float)
df['Last_Q_Net'] = df['Last_Q_Net'].astype(float)
df['Prev_Q_Net'] = df['Prev_Q_Net'].astype(float)

In [11]:
Saving_Symbols = df['Symbols']
#Dropping the unnamed column that we didnt build so we removed it from the dataframe
df.drop('Unnamed: 0', axis = 1, inplace = True)
#Dropping the Symbols column in order to not get dusturbed while we fill ne Nan's
df.drop('Symbols' , axis=1, inplace = True)
#Dropping all the rows that the columns are Nan!!
df.dropna(how='all', inplace = True)
#Filling the missing sectors as unknown
df['Sector'].fillna('unknown', inplace = True)
#We have ' ' as well so we replacing everything to unknown
df['Sector'].replace('', 'unknown', inplace = True)
#Filling the numbers (After the dot 2 numbers) Before this we had for example 53.0700000000!
#Our teacher told us to make the median instead mean
df.fillna(df.median().round(2), inplace = True)

In [12]:
#
df["Sector"].value_counts()

Financial Services        1050
Healthcare                1018
Technology                 531
Industrials                284
Consumer Cyclical          265
unknown                    173
Communication Services     163
Consumer Defensive         126
Basic Materials             67
Real Estate                 60
Energy                      55
Utilities                   27
Financial                    1
Name: Sector, dtype: int64

In [13]:
#Dividing all the % cols by 100!
df[cols] = df[cols].div(100)

In [14]:
df

,Avg_50,Avg_200,Week_52_High,Week_52_Low,Vol_Avg_10_Day,Vol_Avg_3_Months,Held_By_Institusion(%),Perf_Week(%),Perf_Month(%),Perf_Quarter(%),Perf_Half_Year(%),Perf_Year(%),Analyst_Mean_Target_Price,Current_Stock_Price,Last_Q_Net,Prev_Q_Net,Sector
0,67.2800,53.0700,80.93,25.850,73040.0,87260.0,0.4269,-0.0025,-0.1778,0.0117,0.3084,1.4259,91.00,59.31,26.02,51.01,Financial Services
2,76.4200,68.7600,83.79,59.220,232580.0,172720.0,0.7182,0.0231,0.0279,0.2026,0.2735,0.1947,71.00,79.69,15.58,20.61,Industrials
3,9.7800,9.8100,10.69,9.610,14850.0,50430.0,0.8706,-0.0111,0.0020,0.0103,-0.0111,0.0353,27.67,9.83,-0.22,-0.21,Financial Services
4,9.8300,9.8100,10.33,9.570,13730.0,22730.0,0.6265,0.0020,-0.0164,-0.0589,-0.1115,0.0353,27.67,12.23,0.02,-0.23,Financial Services
5,3.3206,3.9017,11.69,1.950,222750.0,2370000.0,0.0037,-0.0867,0.1118,0.4612,-0.2911,-0.3207,9.50,3.44,-1.81,-1.97,Healthcare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5394,67.7200,57.6300,79.17,37.860,3800000.0,4270000.0,0.7592,-0.0014,-0.0769,0.0527,0.2362,0.4130,85.44,65.52,-40.60,9.30,Technology
5395,0.5949,0.7805,3.06,0.481,1080000.0,2270000.0,0.1440,-0.1278,-0.1822,-0.3219,-0.4922,-0.1351,2.00,0.50,-8.67,-6.14,Healthcare
5396,324.7900,248.1400,376.11,157.030,2440000.0,2150000.0,0.4190,0.0118,-0.0920,0.2484,0.4958,0.6335,390.61,325.61,-90.80,-81.02,Technology
5397,3.6158,4.3503,9.00,2.875,611920.0,1290000.0,0.3224,-0.1155,-0.1733,-0.3071,-0.4499,-0.1101,7.19,3.04,-10.58,-9.95,Healthcare
5398,6.7800,8.9000,12.32,5.570,17430000.0,20570000.0,0.8142,-0.0293,0.0194,-0.1669,-0.4083,-0.3455,10.62,6.53,-41.70,27.80,Communication Services

In [15]:
Saving_Symbols

0       AMRK
1       SHLM
2       AAON
3       ABGI
4       ASPA
        ...
5394      ZI
5395    ZSAN
5396      ZS
5397    ZYNE
5398    ZNGA
Name: Symbols, Length: 5399, dtype: object

In [16]:
df['Symbols'] = Saving_Symbols
df.to_csv('df_median.csv')